.mobile-nav{
    background-color: blue;
    color: white;
   width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 50;
  
   
    

    .mobile-nav-content{
        width: 85%;
        margin: auto;
        justify-content: space-between;
        position: relative;
        ul{
            display: flex;
            flex-direction: column;
           justify-content: space-evenly;
           position: absolute;
           top: 150px;
           left: 45px;
           
           a{
            padding: 2rem;
            font-size: 4rem;
            span{
                margin: 0 2rem;
                
            }
            .contact-mobile{
                position: absolute;
                left: 50px;
                
            }
            
            .home-mobile{
                color: $background-color;
            }
            .task-mobile{
                color: rgb(0, 140, 255);
            }
            .badge-mobile{
                color: rgb(71, 3, 71);
            }
            .resume-mobile{
                color: rgb(59, 211, 231);
            }
           }
        }
        button{
            position: absolute;
            right: 0;
            
        }
    }
    
}