$header1 : 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$background-color: #AE2A76;
$background2: #000000;
$gray-text: #2c2c2c;
$line-text : #FF00D6;
$textColor: #fff;

@mixin flex($justify, $align, $direction) {
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    display: flex;
}
@import 'global';
@import 'sideNav';
@import 'hero';
@import 'portfolio';
@import 'contact';

@media screen and (max-width: 900px){
    html{
        font-size: 45%;
    }
    header{
        position: sticky;
        width: 100%;
        min-height: 10vh;
        display: flex;

        .name{
            border-bottom: none;
            text-align: left;
            flex: 1 1 40rem;
            padding: 0rem 2rem;
            display: flex;

            h3{
                display: flex;
            }
            p{
                display: none;
            }
        }
        nav{
            flex: 1 1 40rem;
            ul{
             display: none;
            }
        }
        #soci
    }
    .nav-section{
        h1{
            display: flex;
            color: green;
        }
    }
    #main-section{
        width: 100%;
        margin-left: 0;
    }
    .btn-scroll{
        display: none;
    }
    .container{
        flex-basis: 900px;

        .screen{
            background-color: white;
        }
    }
    .screen-body{
       display: flex;
       flex-direction: column;
    }
    .overlay-body{
        display: none;
    }
    .hero{
        background-color: black;
        
        .hero-image{
            background-color: #d8dbe2;
            p{
                color: white;
            }
        }
    }
    #contact{
        background-color: white;
    }
  .hero-text{
   display: none;
   z-index: -3;
     h1{
         display: none;
     }
     h2{
         display: none;
     }
  }

  .hero-image{
      left: 10%;

      p{
        font-size: 1rem;
    }
  }
  
}
