* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: open .9s ease-in;
          animation: open .9s ease-in;
  overflow-X: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

li,
p,
input,
label,
a {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

@-webkit-keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay-body {
  overflow: hidden;
}

.overlay {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.first {
  background: #ceb40a;
}

.second {
  background: #d8dbe2;
  left: 33.3%;
}

.third {
  background: #0c0c0b;
  left: 63.6%;
  overflow: hidden;
}

header {
  width: 200px;
  height: 100%;
  background: #d8dbe2;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-x: hidden;
}

.name {
  text-align: center;
  margin: 4rem 0rem;
  border-bottom: 1px solid #ceb40a;
  width: 100%;
  padding: 1.5rem 0rem;
}

.name h3 {
  font-family: 'Raleway', sans-serif;
  color: #ceb40a;
  font-weight: bold;
  font-size: 2rem;
}

.name p {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 900;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  position: relative;
  top: -6%;
  padding-bottom: 3.2rem;
}

nav .home {
  font-size: 2rem;
  padding-right: 2px;
  color: #AE2A76;
  left: 20px;
  position: absolute;
}

nav .fa-user {
  color: green;
  font-size: 2rem;
  left: 20px;
  position: absolute;
}

nav .task {
  color: #008cff;
  font-size: 2rem;
  left: 20px;
  position: absolute;
}

nav .badge {
  color: #470347;
  font-size: 2rem;
  left: 20px;
  position: absolute;
}

nav .signature {
  font-size: 2rem;
  color: #3bd3e7;
  left: 20px;
  position: absolute;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

nav ul .home-user:hover {
  border-left: 5px solid #AE2A76;
}

nav ul .first-user:hover {
  border-left: 5px solid green;
}

nav ul .task-user:hover {
  border-left: 5px solid #008cff;
}

nav ul .badge-user:hover {
  border-left: 5px solid #470347;
}

nav ul .sign-user:hover {
  border-left: 5px solid #3bd3e7;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 3rem;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  letter-spacing: monospace;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  margin-top: 3.3rem;
}

nav a:hover {
  background: rgba(221, 221, 221, 0.096);
  margin-left: 2px;
}

.socials {
  position: relative;
  padding-top: 3.3rem;
}

.nav-socials {
  position: relative;
  left: 5%;
}

.nav-socials span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-socials span a {
  position: absolute;
}

.nav-socials .fa-twitter {
  color: #0099ff;
}

.nav-socials .fa-twitter:hover {
  color: rgba(0, 153, 255, 0.815);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.nav-socials .fa-instagram {
  color: #e1306c;
}

.nav-socials .fa-instagram:hover {
  color: #ec739b;
}

.nav-socials .fa-github {
  color: black;
}

.nav-socials .fa-github:hover {
  color: #3a3737;
}

.nav-socials .fa-linkedin {
  color: #008cff;
}

.nav-socials .fa-linkedin:hover {
  color: #64b1f0;
}

.nav-socials .a-icon {
  font-size: 2.5rem;
  margin: 1rem 1rem;
  text-align: center;
}

#main-section {
  width: 85%;
  margin: 0 0 0 auto;
  margin-left: 200px;
}

#main-section .mobile-nav {
  display: none;
}

@extends .show-nav {
  #main-section .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #d8dbe2;
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 3rem;
  width: 100%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

.hero .hero-text h1 {
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: "Poppins", sans-serif;
  font-size: 120px;
  font-weight: 900;
  letter-spacing: -10px;
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 600px;
  color: black;
  right: 45%;
  top: -2%;
  z-index: 2;
}

.hero .hero-text h1 .hidetext {
  position: absolute;
  top: 0;
}

.hero .hero-text h2 {
  position: relative;
  color: #ceb40a;
  z-index: 1;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: 40%;
  bottom: -30%;
}

.hero .hero-text h2 .hidetext-2 {
  position: absolute;
  border: 1px solid #ceb40a;
}

.hero .hero-text a {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.021), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.021), 0 100px 80px rgba(0, 0, 0, 0.12);
  -webkit-animation-name: jumpingDots;
          animation-name: jumpingDots;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.hero .hero-text a button {
  background: transparent;
  outline: none;
  padding: 2rem 4rem;
  cursor: pointer;
  background-color: #d8dbe2;
  font-size: 2rem;
  border: none;
  font-weight: bold;
  color: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #ceb40a;
}

.hero .hero-text a button span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero .hero-text a button:hover {
  color: #ceb40a;
}

.hero .hero-text .span-btn2 {
  display: none;
}

.hero .hero-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  z-index: 1;
  opacity: 1;
  width: 300px;
  height: 300px;
  opacity: 2;
  right: 30%;
  background-color: #dacb6c;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero .hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero-image img:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero .hero-image .image-text {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.219);
  cursor: pointer;
  z-index: 3;
}

.hero .hero-image .image-text:hover {
  -webkit-box-shadow: 0 14px 28px #dacb6c54, 0 10px 10px #dacb6c42;
          box-shadow: 0 14px 28px #dacb6c54, 0 10px 10px #dacb6c42;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.hero .hero-image p {
  padding: 1rem 2rem;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: white;
  margin: 1rem 0rem;
  cursor: pointer;
}

@-webkit-keyframes jumpingDots {
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes jumpingDots {
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

#portfolio {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #d8dbe2;
}

#portfolio #cards {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  position: relative;
}

#portfolio #cards .card {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  min-height: 20vh;
  -ms-flex-preferred-size: 32rem;
      flex-basis: 32rem;
  padding: 2rem;
  margin: 1rem 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#portfolio #cards .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#portfolio #cards .card h5 {
  font-size: 1.5rem;
  padding: 1.5rem 0rem;
}

#portfolio #cards .card h3 {
  color: #ceb40a;
  text-shadow: 0 -2px 3px rgba(17, 17, 17, 0.603), 0 3px 4px rgba(102, 102, 102, 0.288);
}

#portfolio #cards .card:hover {
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  -webkit-transform: rotate(-1.8deg);
          transform: rotate(-1.8deg);
}

#portfolio #cards .card .site-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -10px;
}

#portfolio #cards .card .site-card button {
  background-color: green;
  color: white;
  outline: none;
  padding: 2rem;
}

#portfolio #cards .card .site-card h6 {
  font-size: 1.8rem;
  margin: 0rem 1rem;
  color: black;
}

#portfolio #cards .card .site-card h6:hover {
  color: #ceb40a;
}

#portfolio #cards .card .site-card h6:focus {
  color: greenyellow;
}

#portfolio #cards .card .site-card .fa-github {
  font-size: 3rem;
  color: black;
}

#portfolio #cards .card .site-card .fa-github:hover {
  color: rgba(0, 0, 0, 0.411);
}

#portfolio h2,
#portfolio h3 {
  text-align: center;
}

#portfolio h3 {
  padding: 1.5rem 0rem;
}

#contact {
  min-height: 100vh;
  background: #D8DBE2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#contact button,
#contact input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  font-size: 2rem;
}

#contact button {
  cursor: pointer;
}

.container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  padding: 10px;
  margin: auto;
}

.screen {
  position: relative;
  background-color: #D8DBE2;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.screen::after {
  display: block;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.screen .screen-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  background-color: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen .screen-header .screen-header-left {
  margin-right: auto;
}

.screen .screen-header .screen-header-left .screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background-color: #fff;
}

.screen .screen-header .screen-header-left .close {
  background-color: #ed1c6f;
}

.screen .screen-header .screen-header-left .maximize {
  background-color: #e8e925;
}

.screen .screen-header .screen-header-left .minimize {
  background-color: #74c54f;
}

.screen .screen-header .screen-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen .screen-header .screen-header-right .screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background-color: #999;
}

.screen .screen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen .screen-body .screen-body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.screen .screen-body .screen-body-item .app-form-group {
  margin-bottom: 15px;
}

.screen .screen-body .screen-body-item .app-form-group .app-form-control {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  color: black;
  border-bottom: 1px solid #666;
  font-size: 14px;
  text-transform: capitalize;
  outline: none;
  -webkit-transition: border-color 1.2s;
  transition: border-color 1.2s;
}

.screen .screen-body .screen-body-item .app-form-group .app-form-control::-webkit-input-placeholder {
  color: #666;
}

.screen .screen-body .screen-body-item .app-form-group .app-form-control:-ms-input-placeholder {
  color: #666;
}

.screen .screen-body .screen-body-item .app-form-group .app-form-control::-ms-input-placeholder {
  color: #666;
}

.screen .screen-body .screen-body-item .app-form-group .app-form-control::placeholder {
  color: #666;
}

.screen .screen-body .screen-body-item .app-form-group .app-form-control:focus {
  border-bottom-color: #ceb40a;
}

.screen .screen-body .screen-body-item .message {
  margin-top: 40px;
}

.screen .screen-body .screen-body-item .buttons {
  margin: 0;
  text-align: right;
}

.screen .screen-body .screen-body-item .buttons .app-form-button {
  background-color: transparent;
  border: none;
  color: #ceb40a;
  font-size: 14px;
  outline: none;
  margin: 12px;
}

.screen .screen-body .screen-body-item .buttons .app-form-button:hover {
  color: black;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left .app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #ceb40a;
  font-size: 26px;
  font-weight: 500;
}

.left .app-title::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background-color: black;
}

.left .app-contact {
  margin-top: 2em;
  font-size: 11px;
  font-weight: bold;
  color: black;
  position: relative;
  top: 65%;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 45%;
  }
  .mobile-nav {
    background-color: black;
    color: white;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 200;
  }
  .mobile-nav .mobile-nav-content {
    width: 85%;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .mobile-nav .mobile-nav-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    top: 150px;
    left: 45px;
  }
  .mobile-nav .mobile-nav-content ul a {
    padding: 2rem;
    font-size: 4rem;
  }
  .mobile-nav .mobile-nav-content ul a span {
    margin: 0 2rem;
  }
  .mobile-nav .mobile-nav-content ul a .contact-mobile {
    position: absolute;
    left: 50px;
  }
  .mobile-nav .mobile-nav-content ul a .home-mobile {
    color: #AE2A76;
  }
  .mobile-nav .mobile-nav-content ul a .task-mobile {
    color: #008cff;
  }
  .mobile-nav .mobile-nav-content ul a .badge-mobile {
    color: #470347;
  }
  .mobile-nav .mobile-nav-content ul a .resume-mobile {
    color: #3bd3e7;
  }
  .mobile-nav .mobile-nav-content button {
    position: absolute;
    right: 0;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    min-height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .name {
    border-bottom: none;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .name h3 {
    font-size: 3rem;
    margin-left: 2rem;
    color: black;
  }
  header .name p {
    display: none;
  }
  header nav {
    display: none;
  }
  header #socials {
    display: none;
  }
  .nav-section h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: green;
  }
  #main-section {
    width: 100%;
    margin-left: 0;
  }
  .btn-scroll {
    display: none;
  }
  .container {
    -ms-flex-preferred-size: 900px;
        flex-basis: 900px;
  }
  .container .screen {
    background-color: white;
  }
  .screen-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .overlay-body {
    display: none;
  }
  .hero {
    background-color: black;
  }
  .hero .hero-image {
    background-color: #d8dbe2;
    display: none;
  }
  .hero .hero-image p {
    color: white;
  }
  .hero .hero-image img {
    display: none;
  }
  #contact {
    background-color: white;
  }
  .hero-text {
    display: none;
    z-index: -3;
  }
  .hero-text h1 {
    display: none;
  }
  .hero-text h2 {
    display: none;
  }
  .hero-image {
    left: 10%;
  }
  .hero-image p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */